


{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT LOGIN   ================================= max-width: 380px;-->
   

    

  <div class="card mx-auto" style="max-width: 380px; margin-top:100px;
         box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255,0.5) !important;">
       
    <div class="card-body">
      <h4 class="card-title mb-4 text-center text-primary p-2" style="font-style: italic; font-family: 'Arial', sans-serif;">Request a Reset link <i class="fas fa-sign-in-alt" style="color: blue;"></i></h4>
    
      {% include "includes/alert.html" %}
      
      <form action="{% url 'forgot_password'%}" method="POST">
        {% csrf_token %}
      
          <div class="form-group mb-3">
			 <div class="input-group pt-5">
				 <div class="input-group-prepend">
					 <span class="input-group-text"><i class="fas fa-lock" style="color: blue;"></i></span>
				 </div>
				 <input type="email" class="form-control" placeholder="your email" name="email" id="email">
			 </div>
          </div> <!-- form-group// -->
          
       
          </div> <!-- form-group form-check .// -->
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="width: 150px;"> Submit <i class="fas fa-sign-in-alt" style="color: white;"></i> </button>
        </div>
        <Br>

        <a href="{% url 'handle_login' %}" class="text-center">Go back<a/>
        </br>
         
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}